.FilterContainer {
    font-family: "Raleway", sans-serif;
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

.Header h1 {
    margin-top: 0;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0.2rem;
}

.Header hr {
    width: 50%;
    transform: translateX(-50%);
    height: 0.125rem;
    background-color: #c94277;
    border-radius: 0.125rem;
    border: none;
    margin-top: 0;
}

.selectAllTopics {
    margin: 0rem 0rem 0rem 1rem; 
    font-weight: 600;
    font-size: 1rem;
    background: #f8f8fa;
    box-shadow: 0 2px 8px rgba(0,0,0,0.06);
}

.selectAllTopics input[type="checkbox"] {
    width: 1rem;
    height:1rem;
}

.TopicSelect {
    display: flex;
    margin: 1rem 1rem 0.2rem 1rem; 
    align-items: center;     
    padding: 0.2rem 0 0.2rem 0 ;
    border-radius: 1px;
    font-weight: 500;
    font-size: 1rem;
    background: #f8f8fa;
    box-shadow: 0 2px 8px rgba(0,0,0,0.06);
}

.TopicSelect input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
}

.SubtopicOption {
    display: flex;           
    align-items: center;    
    margin-left: 1.1rem;
    font-size: 0.8rem;
}

span {
    margin-left: 0.5rem;
}

.SubtopicOption input[type="checkbox"] {
    width: 0.8rem;
    height: 0.8rem;
}
