@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.Container {
    font-family: "Raleway", sans-serif;
    display: flex;
    flex-direction: column;

}

.Header {
  margin: 1rem;
}

.Header h1 {
    margin-top: 0;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0.2rem;
}

.Header hr {
    width: 50%;
    transform: translateX(-50%);
    height: 0.125rem;
    background-color: #c94277;
    border-radius: 0.125rem;
    border: none;
    margin-top: 0;
    
}

.Header h2 {
    margin-top: 0.2rem;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0rem;
    margin-left: 0.1rem;

}

.QuestionContainer {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.Question p {
    font-weight: 500;
    font-size: 1rem;
    margin: 1rem;
    margin-top: 0; 
    margin-bottom: 0.3rem;
    width: calc(100% - 3.02rem) !important;
    border: 0.01rem solid black;
    padding: 0.5rem;
}

.Response {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.ResponseEntry {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    flex: 1 1 auto;
    width: calc(100% - 1.95rem);
    margin: 1rem;
    margin-top: 0;
    border: 0.01rem solid black;
    padding: 0.5rem;
    resize: none;
    box-sizing: border-box;
    transition: height 0.2s;
}

.ResponseEntry.shrink {
    height: auto;
    min-height: 0rem; /* or whatever minimum you want */
    flex: none;   }

textarea:focus {
  outline: none;
}

.SubmitContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    margin-bottom: 4.5rem;
}

.Submit {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    margin: 1rem;
    margin-top: 0.25rem;
    margin-left: auto;
    width: 5rem;
    height: 2.5rem;
    border-radius: 2.5rem;
    border: none;
    align-self: flex-end;
    background-color: #c94277;
    color: #ffffff;
    cursor: pointer;
    transition: transform .2s;
}

.Submit:hover {
    transform: scale(1.05);
}

.NoQuestionsText {
    text-align: center;
    margin: 8rem 2rem;
    font-size: 1rem;
}

.ResetQuestions {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    margin: 2rem auto;   
    margin-left: auto;
    width: 10rem;
    height: 2.5rem;
    border-radius: 2.5rem;
    border: none;
    align-self: flex-end;
    background-color: #c94277;
    color: #ffffff;
    cursor: pointer;
    transition: transform .2s;
}

.ResetQuestions:hover {
    transform: scale(1.05);
}

.MSContainer h3 {
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
    margin-top: 0.25rem;
}

.MarkingPoint {
    font-weight: 500;
    font-size: 1rem;
    margin: 1rem;
    margin-top: 0; 
    margin-bottom: 0.3rem;
    width: calc(100% - 3.02rem);
    border: 0.01rem solid black;
    background-color: #e6e6e6;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.MarkingPoint:hover {
    cursor: pointer;
}

.TickBox {
    flex: 0 0 auto;      
    align-self: center;
    border-radius: 0;
    border: 0.01rem solid black;
    background-color: white;
    margin-left: 01rem;
    margin: 0.5rem;
    width: 2rem;
    height: 2rem;
    scale: 1.2;
}

.TickBox:hover {
    transform: scale(1.05);
}

.TickBox img {
    width: 100%;              
    height: 100%;
    scale: 0;
    object-fit: contain;
    display: block;
}

.TickBox img.Ticked {
    scale: 0.8;
}

.MarkingPoint.Ticked {
    border: 0.15rem solid #00b179;
    align-items: center;
    padding: 0.41rem;
}

.MarksAchieved {
    font-weight: 500;
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}

.dark-mode .Question p{
    border-color: #e6e6e6;
}

.dark-mode .ResponseEntry{
    border-color: #e6e6e6;
    background-color: #180a33;
    color: white;
}

.dark-mode .MarkingPoint{
    border-color: #e6e6e6;
    background-color: #180a33;
}

.dark-mode .MarkingPoint.Ticked{
    border-color: #00b179;
    background-color: #180a33;
}

.dark-mode .TickBox{
    border-color: #e6e6e6;
}

.dark-mode .ResponseEntry img{
    filter: invert();
}