@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.Container {
    font-family: "Raleway", sans-serif;
    display: flex;
    flex-direction: column;
}

.Header {
  margin: 1rem;
}

.Header h1 {
    margin-top: 0;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0.2rem;
}

.Header hr {
    width: 50%;
    transform: translateX(-50%);
    height: 0.125rem;
    background-color: #c94277;
    border-radius: 0.125rem;
    border: none;
    margin-top: 0;
}

.Header h2 {
    margin-top: 0.2rem;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0rem;
    margin-left: 0.1rem;

}

.QuestionContainer {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.Question p {
    font-weight: 500;
    font-size: 1rem;
    margin: 1rem;
    margin-top: 0; 
    margin-bottom: 1rem;
    width: calc(100% - 3.02rem) !important;
    border: 0.01rem solid black;
    padding: 0.5rem;
}

.answerChoice {
    color: black;
    font-weight: 500;
    font-size: 1rem;
    margin: 1rem;
    margin-top: 0; 
    margin-bottom: 0.3rem;
    width: calc(100% - 1.98rem);
    border: 0.01rem solid black;
    background-color: #e6e6e6;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.answerChoice:hover {
    scale: 1.01;
}

.Submit {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    margin: 1rem;
    width: 5rem;
    height: 2.5rem;
    border-radius: 2.5rem;
    border: none;
    align-self: flex-end;
    background-color: #c94277;
    color: #ffffff;
    cursor: pointer;
    transition: transform .2s;
}

.Submit:hover {
    transform: scale(1.05);
}

.NoQuestionsText {
    text-align: center;
    margin: 10rem 5rem;
    font-size: 1rem;
}

.dark-mode .answerChoice {
    background-color: #220d48;
    border-color: white;
    color: white;
}