@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --safe-top: env(safe-area-inset-top, 47px);      /* fallback to 47px */
  --safe-bottom: env(safe-area-inset-bottom, 34px); /* fallback to 34px */
  --safe-left: env(safe-area-inset-left, 0px);
  --safe-right: env(safe-area-inset-right, 0px);
}

.App {
  box-sizing: border-box;
  padding-top: var(--safe-top);
  padding-bottom: var(--safe-bottom);
  padding-left: var(--safe-left);
  padding-right: var(--safe-right);

  min-height: 100vh; /* fill screen minus safe-area padding */
  font-family: "Raleway", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.navbar {
  position: fixed;
  bottom: calc(var(--safe-bottom) + 0.5rem); /* 0.5rem extra for spacing */
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 2rem);
  max-width: 24rem;
  border-radius: 3rem;
  display: flex;
  justify-content: space-around;
  padding: 0 1rem;
  background-color: #e6e6e6;
  z-index: 50;
}


.navbar div {
    height: 3rem;
    width: 3rem;
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    transition: transform .2s; 
}

.icon-wrapper:hover {
    transform: scale(1.1);
}

.navbar img{
    width: 100%;
    height: 100%;
}

.navbar img:hover{
    transform: scale(1.1);
}

.icon-wrapper {
    position: relative;
    height: 3rem;
    width: 3rem;
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-wrapper.active::after {
    content: "";
    position: absolute;
    bottom: 0.15rem;
    left: 50%;
    transform: translateX(-50%);
    width: 2rem;
    height: 0.25rem;
    background-color: #c94277;
    border-radius: 1rem;
}
.popup-menu {
    border-radius: 1rem !important; 
    width: 10rem !important;
    height: 5rem !important; 
    position: absolute;
    bottom: 5rem; 
    left: 50%;
    transform: translateX(-50%);
    background-color: #e6e6e6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    z-index: 100;
}

.popup-menu button {
    font-size: large;
    font-weight: 500;
    color: black;
    border: none;
    margin: 0.3rem;
    background: none;
}

.popup-menu button:hover {
    color: #c94277;
    scale: 1.1;
    background: none;
}

.dark-mode {
  background: #180a33 !important;
  color: #f2f2f2 !important;
}

.dark-mode .navbar img{
  filter: invert();
}

.dark-mode .navbar {
  background: #220d48 !important;
}

.dark-mode .popup-menu {
  background: #220d48 !important;
}

.dark-mode .popup-menu button{
  color: white !important;
}

.dark-mode .popup-menu button:hover{
  color: #c94277 !important;
}


